textarea {
    min-height: 400px;
}
.inbox-email{
    display: flex;
    display: row;
    border: .5px black solid;
    margin: 2px;
}
.flex-container{
    display: flex;
    display: row;
    justify-content: space-between;
}
span{
    display: block;
}
.inbox-email > span{
    flex-basis: 25%;
}
#email-line > span{
    display: inline;
}
.read{
    background-color: grey;
}
/* .inbox-email:nth-child(1){
    flex-grow: 1;
}
.inbox-email:nth-child(2){
    flex-grow: 5;
}
.inbox-email:nth-child(3){
    flex-grow: 5;
}
.inbox-email:nth-child(4){
    flex-grow: 1;
} */